body {
	font-family: Arial;
	text-align: center;
	margin: auto;
	background-color: #FAF0CA;
}
p {
	font-size: 14pt;
	color: darkslategray;
	width: 60%;
	margin: auto;
}
h4 {
	font-size: 18px;
	color: #F95738;
}
hr {
	width: 60%;
}
a {
	text-decoration: none;
	text-align: center;
	color: #FFF;
}
a:hover {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
a:active {
	color: #FFF;
}
h2 {
	display: block;
	text-align: center;
	background-color: #222328;
	padding: 10px;
	color: #FFF;
	font-weight: 800;
}
